[submodule "infrastructure/cookbooks/chef-jenkins"]
	path = infrastructure/cookbooks/chef-jenkins
	url = https://github.com/fnichol/chef-jenkins.git
[submodule "infrastructure/cookbooks/jenkins"]
	path = infrastructure/cookbooks/jenkins
	url = https://github.com/fnichol/chef-jenkins.git
